div {
    border:1px solid #ffffff ;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #cccccc;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color: #ff6500;

}
.card{
    width: 268px; ;
   height: 474px; ;
   background-color: #ffffff; 
   margin: 10px 5px;
}
.img-principal{
    width: 100px; 
    height: 100px;
    margin-top: 50px; 
}

.img-card{
    width: 265px; 
    height: 350px;
    margin-top: 50px; 
}
.descricao{
    font-size:  14px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 5px ;
    color: #000000;
}
.preco{
    font-size: 25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ff6500;
    font-weight: bold;
    padding: 15px 10px;
}
.pagamento{
    color: #666666;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 5px;
    font-size: 11px;
}
.button-card{
    background-color: #ff6500;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border: 0;
} 
.botao-comprar{
    padding: 10px 5px;
}
.menu{
    background-color: #ff6500;
    color: #ffffff;
    border: 1px solid;
    display:flex ;
}
.item-menu{
    list-style: none;
    padding: 10px 20px; 
}
.item-menu:hover{
    background-color: #999999;
}
.link-menu{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
main{
    display: flex;
    flex-wrap: wrap;
}

